@media screen and (min-width:600px){

    .wrapper{
        flex-direction: row;
    }
    .sidebar{
        width: 300px;
    }
    .menu li:last-child:hover {
        margin-bottom: 90%;
    }
}
@media screen and (min-width:850px){
    .menu li:last-child:hover {
        margin-bottom: 160%;
    }
    .mainContent{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .gallery{
        width: 50%;
    }
}
@media screen and (min-width:1000px){
    .menu li:last-child:hover {
        margin-bottom: 150%;
    }
}
@media screen and (min-width:1050px){
    .gallery {
        width: 25%;
    }
    .imgInner,
    .imgInner2,
    .imgInner3 {
        padding: 20% 0;
    }
}

@media screen and (min-width:1100px){
    .menu li:last-child:hover {
        margin-bottom: 106%;
    }
}